<div style="margin: 80px auto">
    <div class="container">
        <div class="card p-4">
            <h2 class="mb-4 text-center text-white">Contact Us</h2>
            <form>
                <div class="mb-3 row">
                    <label for="inputName" class="col-sm-2 col-form-label text-white">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" name="name"
                            placeholder="Enter your name">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label text-white">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control text-white" id="inputEmail3" name="email"
                            placeholder="Enter your email">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputSubject" class="col-sm-2 col-form-label text-white">Subject</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-white" id="inputSubject" name="subject"
                            placeholder="Enter subject">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="floatingTextarea2" class="text-white col-sm-2 col-form-label">Message</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="floatingTextarea2" name="message"
                            placeholder="Enter your message" style="height: 120px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary m-2">Send Message</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>