<div style="margin: 80px auto">
    <div class="container">
        <div class="card p-4 about-card">
            <h2 class="mb-4 text-center text-white">About Tekflix</h2>
            <div class="about-content">
                <div class="about-text">
                    <h3>Welcome to Tekflix</h3>
                    <p>Tekflix is a cinema app designed for Tekup University students, offering a wide selection of movies and exclusive content. Watch movies, discover new releases, and enjoy a cinematic experience tailored just for you.</p>
                    <p>Explore different genres, watch trailers, and dive deep into movie details all from one place. Whether you're a film lover or just looking for a quick movie night, Tekflix has something for everyone!</p>
                </div>
                <div class="about-image">
                    <img src="../../assets/logo-removebg.png" alt="Tekflix Image">
                </div>
            </div>
        </div>
    </div>
</div>
